<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php
</IfModule>

<IfModule mod_php5.c>
    php_flag magic_quotes_gpc off
    php_flag magic_quotes_runtime off
</IfModule>
