
@import "reset.css";

body
{
    margin: 0px;
    padding: 0px;
    background-color: #EEE;

    font-family: "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 13px;
}

#page
{
    border-width: 0px 1px 1px;
    border-color: #AAA;
    border-style: solid;
    background-color: #FFF;
    width: 50em;
    margin: auto;
    padding: 0px 20px 5px;
}

#pagetitle
{
    margin-top: .25em;
}

#pagelinks
{
    text-align: right;
    font-size: .75em;
    line-height: 1.2;
    padding-top: 1em;
}

#pagelinks a { color: #555; margin: 0px .5em; }
#pagelinks a.active { color: #AAA; text-decoration: none; }

p
{
    margin: .75em 0px;
    line-height: 1.5;
}

a
{
    color: #02A;
    text-decoration: none;
}

a.new
{
    color: #A00;
}

a:hover
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    line-height: 1.2;
    margin-top: 1em;
}

h1 { font-size: 2.4em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: .8em; font-weight: bold; }

table
{
    line-height: 1.2;
    margin: .75em 0px;
}

table td, table th
{
    padding: .2em .4em;
}

table th { font-weight: bold; }

em { font-style: italic; }
strong { font-weight: bold; }

table.history
{
    font-size: .8em;
}

